/*Estilizando Formulários*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #cfe7ec;
}

fieldset{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    

}

legend{
    font-weight: bold;
}

label{
    display: block;
    cursor: pointer;
    margin-top: 0.5em;
}

input {
    width: 20em;
    border: 1px solid  rgb(167, 163, 163);
   
}
textarea{
    width: 20em;
    height: 10em;
    border: 1px solid rgb(167, 163, 163);

}
input.radio, input.checkbox, input.submit {
    width: auto;
}

.radio{
    margin-right: 1em;
}
